:root{
    --m30 : 30px;
    --m50 : 50px;
    --m100 : 100px;
    --m150 : 150px;
    --m200 : 200px;
    --m250 : 250px;
    --m300 : 300px;

    --body : hsl(0, 0%, 5%);
    --background : hsl(0, 0%, 99%);

    --secondary-color : hsl(0, 0%, 80%);
    --tertiary-color : 	hsl(40, 35%, 76%)
}

body{
    font-family: 'Poppins'!important;
    color : var(--body);
    background: var(--background);
}

a:visited, a:link{
    color: var(--body);
}
a{
    color: var(--body)!important;
}

